---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/lookup?country=GB&id=414425&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-apple-jingle-correlation-key:
      - ZHLXNHYRRX7NIJBC4LV7NGNE54
      x-apple-application-site:
      - ST11
      apple-originating-system:
      - MZStoreServices
      x-apple-translated-wo-url:
      - "/WebObjects/MZStoreServices.woa/ws/wsLookup?country=GB&id=414425&limit=200&urlDesc="
      apple-tk:
      - 'false'
      x-apple-orig-url:
      - https://itunes.apple.com/lookup?country=GB&id=414425&limit=200
      apple-seq:
      - '0'
      content-type:
      - text/javascript; charset=utf-8
      apple-timing-app:
      - 16 ms
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '2000159'
      x-webobjects-loadaverage:
      - '0'
      x-apple-request-uuid:
      - c9d7769f-118d-fed4-2422-e2ebf699a4ef
      x-true-cache-key:
      - "/L/itunes.apple.com/lookup ci2=country=GB&id=414425&limit=200__"
      x-apple-partner:
      - origin.0
    body:
      encoding: UTF-8
      string: |2+



        {
         "resultCount":1,
         "results": [
        {"wrapperType":"artist", "artistType":"Artist", "artistName":"Slayer", "artistLinkUrl":"https://itunes.apple.com/gb/artist/slayer/id414425?uo=4", "artistId":414425, "amgArtistId":5453, "primaryGenreName":"Metal", "primaryGenreId":1153}]
        }


  recorded_at: Sun, 06 Aug 2017 21:27:35 GMT
recorded_with: VCR 3.0.3
