---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/lookup?country=GB&id=3996865&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-apple-jingle-correlation-key:
      - RULAWWKTS7JK2H5ELVBJ2K4D6A
      x-apple-application-site:
      - ST11
      apple-originating-system:
      - MZStoreServices
      x-apple-translated-wo-url:
      - "/WebObjects/MZStoreServices.woa/ws/wsLookup?country=GB&id=3996865&limit=200&urlDesc="
      apple-tk:
      - 'false'
      x-apple-orig-url:
      - https://itunes.apple.com/lookup?country=GB&id=3996865&limit=200
      apple-seq:
      - '0'
      content-type:
      - text/javascript; charset=utf-8
      apple-timing-app:
      - 11 ms
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '2000626'
      x-webobjects-loadaverage:
      - '0'
      x-apple-request-uuid:
      - 8d160b59-5397-d2ad-1fa4-5d429d2b83f0
      x-true-cache-key:
      - "/L/itunes.apple.com/lookup ci2=country=GB&id=3996865&limit=200__"
      x-apple-partner:
      - origin.0
    body:
      encoding: UTF-8
      string: |2+



        {
         "resultCount":1,
         "results": [
        {"wrapperType":"artist", "artistType":"Artist", "artistName":"Metallica", "artistLinkUrl":"https://itunes.apple.com/gb/artist/metallica/id3996865?uo=4", "artistId":3996865, "amgArtistId":4906, "primaryGenreName":"Rock", "primaryGenreId":21}]
        }


  recorded_at: Fri, 04 Aug 2017 22:14:37 GMT
recorded_with: VCR 3.0.3
