---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/search?attribute=artistTerm&country=GB&entity=musicArtist&limit=200&media=music&term=Slayer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-apple-jingle-correlation-key:
      - EH2MZ4LKZF3XDV72MKG5VX5WQA
      x-apple-application-site:
      - MR22
      apple-originating-system:
      - MZStoreServices
      x-apple-translated-wo-url:
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?attribute=artistTerm&country=GB&entity=musicArtist&limit=200&media=music&term=Slayer&urlDesc="
      apple-tk:
      - 'false'
      x-apple-orig-url:
      - https://itunes.apple.com/search?attribute=artistTerm&country=GB&entity=musicArtist&limit=200&media=music&term=Slayer
      apple-seq:
      - '0'
      content-type:
      - text/javascript; charset=utf-8
      apple-timing-app:
      - 246 ms
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '4017007'
      x-webobjects-loadaverage:
      - '0'
      x-apple-request-uuid:
      - 21f4ccf1-6ac9-7771-d7fa-628ddadfb680
      x-true-cache-key:
      - "/L/itunes.apple.com/search ci2=attribute=artistTerm&country=GB&entity=musicArtist&limit=200&media=music&term=Slayer__"
      x-apple-partner:
      - origin.0
    body:
      encoding: UTF-8
      string: "\n\n\n{\n \"resultCount\":56,\n \"results\": [\n{\"wrapperType\":\"artist\",
        \"artistType\":\"Artist\", \"artistName\":\"Slayer\", \"artistLinkUrl\":\"https://itunes.apple.com/gb/artist/slayer/id414425?uo=4\",
        \"artistId\":414425, \"amgArtistId\":5453, \"primaryGenreName\":\"Metal\",
        \"primaryGenreId\":1153}, \n{\"wrapperType\":\"artist\", \"artistType\":\"Artist\",
        \"artistName\":\"Buffy the Vampire Slayer Cast\", \"artistLinkUrl\":\"https://itunes.apple.com/gb/artist/buffy-the-vampire-slayer-cast/id858203594?uo=4\",
        \"artistId\":858203594, \"primaryGenreName\":\"Soundtrack\", \"primaryGenreId\":16},
        \n{\"wrapperType\":\"artist\", \"artistType\":\"Artist\", \"artistName\":\"Princess
        Slayer\", \"artistLinkUrl\":\"https://itunes.apple.com/gb/artist/princess-slaye[...]
