---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/search?attribute=artistTerm&country=IT&entity=musicArtist&limit=200&media=music&term=Metallica
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-apple-jingle-correlation-key:
      - TKYXSBV5KUBXOJGTITMV4S67II
      x-apple-application-site:
      - ST11
      apple-originating-system:
      - MZStoreServices
      x-apple-translated-wo-url:
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?attribute=artistTerm&country=IT&entity=musicArtist&limit=200&media=music&term=Metallica&urlDesc="
      apple-tk:
      - 'false'
      x-apple-orig-url:
      - https://itunes.apple.com/search?attribute=artistTerm&country=IT&entity=musicArtist&limit=200&media=music&term=Metallica
      apple-seq:
      - '0'
      content-type:
      - text/javascript; charset=utf-8
      apple-timing-app:
      - 137 ms
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '2001010'
      x-webobjects-loadaverage:
      - '0'
      x-apple-request-uuid:
      - 9ab17906-bd55-0377-24d3-44d95e4bdf42
      x-true-cache-key:
      - "/L/itunes.apple.com/search ci2=attribute=artistTerm&country=IT&entity=musicArtist&limit=200&media=music&term=Metallica__"
      x-apple-partner:
      - origin.0
    body:
      encoding: UTF-8
      string: "\n\n\n{\n \"resultCount\":9,\n \"results\": [\n{\"wrapperType\":\"artist\",
        \"artistType\":\"Artist\", \"artistName\":\"Metallica\", \"artistLinkUrl\":\"https://itunes.apple.com/it/artist/metallica/id3996865?uo=4\",
        \"artistId\":3996865, \"amgArtistId\":4906, \"primaryGenreName\":\"Rock\",
        \"primaryGenreId\":21}, \n{\"wrapperType\":\"artist\", \"artistType\":\"Artist\",
        \"artistName\":\"Metallica Tribute\", \"artistLinkUrl\":\"https://itunes.apple.com/it/artist/metallica-tribute/id84240723?uo=4\",
        \"artistId\":84240723, \"primaryGenreName\":\"Tributo\", \"primaryGenreId\":100022},
        \n{\"wrapperType\":\"artist\", \"artistType\":\"Artist\", \"artistName\":\"Lou
        Reed\", \"artistLinkUrl\":\"https://itunes.apple.com/it/artist/lou-reed/id167203?uo=4\",
        \"artistId\":1[...]
